@font-face {
    font-family: 'VCROSDMono';
    src: url('VCROSDMono.svg#VCROSDMono') format('svg'), url('VCROSDMono.ttf') format('truetype'), url('VCROSDMono.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'VCR_OSD_MONO_1.001';
    src: url('VCR_OSD_MONO_1.001.eot');
    src: url('VCR_OSD_MONO_1.001.eot?#iefix') format('embedded-opentype'), url('VCR_OSD_MONO_1.001.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'VCROSDMono';
    font-family: 'VCR_OSD_MONO_1.001';
    font-family: monospace;
    background: #E1F7F5;
    color: #2E4425;
}

.row {
    display: flex;
    margin: 20em 40em;
}


/*

#bar {
    position: absolute;
    bottom: 140px;
    left: 640px;
}

.bar {
    -webkit-appearance: none;
    background: #DEEDD8;
    width: 170px;
    outline: none;
    cursor: pointer;
}

.bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #5F874E;
    cursor: pointer;
}
*/

#ds {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 820px;
}

.title1 {
    position: absolute;
    vertical-align: middle;
    top: 600px;
    left: 663px;
    z-index: 3;
    font-size: 15px;
}

.title {
    position: absolute;
    top: 630px;
    left: 645px;
    z-index: 3;
    font-size: 23px;
}

.vers {
    position: absolute;
    top: 665px;
    left: 680px;
    z-index: 3;
    font-size: 15px;
}

.scene {
    position: absolute;
    left: 570px;
    width: 370px;
    height: 270px;
    top: 145px;
}

.poketch {
    position: absolute;
    width: 370px;
    height: 270px;
    bottom: 89px;
    left: 580px;
}

.sprite1 {
    width: 70px;
    position: absolute;
    top: 330px;
    left: 680px;
    float: left;
    overflow: hidden;
}

.chimchar {
    width: 115px;
    animation: moveSprite1 0.7s steps(2) infinite;
}

@keyframes moveSprite1 {
    from {
        transform: translate3d(5px, 0, 0);
    }
    to {
        transform: translate3d(-100%, 0, 0)
    }
}

.sprite2 {
    width: 70px;
    position: absolute;
    bottom: 470px;
    left: 730px;
    float: left;
    overflow: hidden;
}

.dawn {
    width: 150px;
    animation: moveSprite2 0.7s steps(2) infinite;
}

@keyframes moveSprite2 {
    from {
        transform: translate3d(0px, 0, 0)
    }
    to {
        transform: translate3d(-100%, 0, 0)
    }
}

.buttons {
    position: absolute;
}

#play {
    position: absolute;
    cursor: pointer;
    width: 70px;
    top: 510px;
    left: 695px;
    z-index: 3;
}

#forward {
    position: absolute;
    top: 510px;
    cursor: pointer;
    width: 70px;
    left: 750px;
    z-index: 3;
}

#backward {
    position: absolute;
    cursor: pointer;
    width: 70px;
    top: 510px;
    left: 600px;
    z-index: 3;
}

.container {
    justify-content: center;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    list-style: none;
}
