@font-face {
  font-family: 'VCROSDMono';
  src: url('VCROSDMono.svg#VCROSDMono') format('svg'),
       url('VCROSDMono.ttf') format('truetype'),
       url('VCROSDMono.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'VCR_OSD_MONO_1.001';
  src: url('VCR_OSD_MONO_1.001.eot');
  src: url('VCR_OSD_MONO_1.001.eot?#iefix') format('embedded-opentype'),
       url('VCR_OSD_MONO_1.001.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

